<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="static/favicon.png" />
    <title>ez-language-detector</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">ez-language-detector</h1>
        <p class="lead">
          A Python application to predict language type
        </p>
        <hr class="my-4" />
        <p>
          Check out the source code at
          <a href="https://github.com/zehengl/ez-language-detector">GitHub</a>
        </p>
      </div>
      <form method="post">
        <div class="form-group">
          <label for="texts"><strong>Text</strong></label>
          <input
            type="text"
            id="texts"
            name="texts"
            class="form-control"
            placeholder="Start typing..."
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if language %}
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Hooray!</h4>
        <hr />
        Are you probably speaking <strong>{{ language }}</strong
        >?
      </div>
      {% endif %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
